.dropdown-menu {
  max-height: 75vh;
  overflow-y: auto;
}

.cloze-text {
  text-align: right;
}

.cloze-text blockquote {
  background-color: #c8c8c8;
  background-color: rgba(200, 200, 200, 0.5);
  display: inline;
  font-style: italic;
  text-align: justify;
}
